<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav">
      <img
        class="back"
        src="../../../../../assets/img/wizard-page/Goback.svg"
      />
    </div>
    <div class="carousel-block">
      <ngb-carousel>
        <ng-template ngbSlide class="carousel">
          <div class="title">
            <h2>SETTINGS</h2>
          </div>
          <div class="subtitle">
            <h6>What is</h6>
            <h1>YOUR SEX?</h1>
          </div>
          <div class="plates">
            <app-custom-button inStyle="warning" class="plate">
              <p class="name">Woman</p>
              <img src="../../../../../assets/img/wizard-page/Female.svg" />
            </app-custom-button>
            <button class="plate">
              <p class="name">Man</p>
              <img src="../../../../../assets/img/wizard-page/Male.svg" />
            </button>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="title">
            <h2>SETTINGS</h2>
          </div>
          <h6>What is</h6>
          <div class="subtitle">
            <h1>YOUR SEX?</h1>
          </div>
          <tr>
            <td>
              <input type="checkbox" />
            </td>
            <td>
              <input type="checkbox" />
            </td>
            <td>
              <input type="checkbox" />
            </td>
          </tr>
        </ng-template>
      </ngb-carousel>
      <div class="toolbar" (click)="nextClicked()">
        <img
          class="next-pic"
          src="../../../../../assets/img/wizard-page/nextButton.svg"
        />
        <p class="next-button">NEXT</p>
      </div>
    </div>
  </body>
</html>
