body {
  background-image: url("../../../../../assets/img/wizard-page/BackgroundWizard.png");
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-rows: 9vh auto;
  color: white;
}

.carousel {
  grid-row-start: 2;
  grid-row-end: 3;

  text-align: center;
  height: 90%;
  width: 60%;
  margin: auto;
}

.carousel-block {
  height: 100%;
}

.nav {
  grid-row-start: 1;
  grid-row-end: 2;

  margin-left: 12vw;
}

.back {
  width: 8vw;
}

.toolbar {
  margin-right: 20%;
  font-size: 1vw;
  color: rgb(0, 225, 255);
}

.next-button {
  margin-top: 1.2vw;
  float: right;
}

.next-pic {
  width: 5vw;
  float: right;
}
