<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav">
      <img
        class="back"
        src="../../../../../assets/img/wizard-page/Goback.svg"
      />
    </div>
    <div class="carousel">
      <div class="title">
        <h2>SETTINGS</h2>
      </div>
      <h6>What is</h6>
      <div class="subtitle">
        <h1>YOUR SEX?</h1>
      </div>
      <div class="next-button"></div>
    </div>
  </body>
</html>
