#page-wrap {
  height: 100%;
  background-image: url("../../../../../assets/img/wizard-page/BackgroundWizard.png");
  background-position: center;
  background-size: cover;
  color: white;
}

/* phone styles */
.grid {
  max-width: 100%;
  margin: 0;
}

.navigation {
  grid-column: 2/12;
  grid-row: 1/2;
  margin-top: 50px;
}

.navigation img {
  width: 170px;
}

.carousel-block {
  grid-column: 1/13;
  grid-row: 3/9;
}

.slide-content {
  margin: 0 50px;
  height: 700px;
}

.title {
  margin-bottom: 50px;
}

.plates {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.plate {
  background-color: white;
  border-radius: 10px;
  width: 45%;
  height: 200px;
}

.plate-content {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(179, 179, 179);
}

.plate-content p {
  margin: auto 0;
}

.next-clickable {
  display: flex;
  flex-flow: row-reverse;
  color: rgb(0, 225, 255);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.222);
  font-size: 20px;
}

.next-button {
  margin: auto 0;
}

/* tablet styles */
@media screen and (min-width: 750px) {
  #page-wrap {
    font-size: 18px;
  }

  .carousel-block {
    grid-row: 2;
  }

  .title h2 {
    font-size: 40px;
  }

  .subtitle h6 {
    font-size: 20px;
  }

  .subtitle h1 {
    font-size: 50px;
  }

  .slide-content {
    height: 700px;
  }

  .plate,
  .plate-content {
    height: 250px;
  }

  .plate-content p {
    font-size: 22px;
  }

  .next-button {
    font-size: 23px;
  }

  .next-clickable img {
    width: 120px;
  }
}

/* desktop styles */
@media screen and (min-width: 1400px) {
  #page-wrap {
    font-size: 20px;
  }

  .grid {
    max-width: 81.25%;
    margin: 0 auto;
  }

  .navigation {
    grid-column: 1/13;
    margin-left: -50px;
  }

  .slide-content {
    height: 70vh;
  }

  .carousel-block {
    grid-column: 3/11;
    grid-row: 2;
  }

  .title h2 {
    font-size: 50px;
    font-weight: 400;
  }

  .subtitle h6 {
    font-size: 30px;
    font-weight: 200;
  }

  .subtitle h1 {
    font-size: 70px;
    font-weight: 400;
  }

  .plate-content p {
    font-size: 30px;
  }

  .plates {
    margin-top: 30px;
  }

  .plate,
  .plate-content {
    height: 400px;
  }

  .plate-content img {
    height: 150px;
    width: 150px;
  }
}
