<body>
  <div id="content" class="grid">
    <div class="logo"></div>
    <div class="onboard">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="slide-content">
            <div class="upper">
              <img src="../../../../../assets/img/onboarding-page/image1.svg" />
            </div>
            <div class="lower">
              <div class="checkmark-image"></div>
              <div class="text">
                <div class="title">
                  <h1>TRANSFORM</h1>
                </div>
                <div class="subtitle">
                  <p>Your life</p>
                </div>
                <div class="subscription">
                  <p>Create your own fitness Routine</p>
                  <p>where ever you are.</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="slide-content">
            <div class="upper">
              <img src="../../../../../assets/img/onboarding-page/image2.svg" />
            </div>
            <div class="lower">
              <div class="checkmark-image"></div>
              <div class="text">
                <div class="title">
                  <h1>TRANSFORM</h1>
                </div>
                <div class="subtitle">
                  <p>Your style</p>
                </div>
                <div class="subscription">
                  <p>Create your own fitness Routine</p>
                  <p>where ever you are.</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="slide-content">
            <div class="upper">
              <img src="../../../../../assets/img/onboarding-page/image3.svg" />
            </div>
            <div class="lower">
              <div class="checkmark-image"></div>
              <div class="text">
                <div class="title">
                  <h1>TRANSFORM</h1>
                </div>
                <div class="subtitle">
                  <p>Your health</p>
                </div>
                <div class="subscription">
                  <p>Create your own fitness Routine</p>
                  <p>where ever you are.</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
      <div class="onboard-footer">
        <div class="skip-button">SKIP</div>
        <div class="next-button" (click)="nextClicked()">NEXT</div>
      </div>
    </div>
  </div>
</body>
