<body>
  <div id="content" class="grid">
    <div class="logo"></div>
    <div class="onboard">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="slide-content">
            <div class="upper"></div>
            <div class="lower">
              <div class="checkmark-image"></div>
              <div class="text">
                <div class="title">TRANSFORM</div>
                <div class="subtitle"></div>
                <div class="subscription"></div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="slide-content">
            <div class="upper"></div>
            <div class="lower">
              <div class="checkmark-image"></div>
              <div class="text">
                <div class="title">TRANSFORM</div>
                <div class="subtitle"></div>
                <div class="subscription"></div>
              </div>
            </div>
          </div>
        </ng-template>
        <!-- <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img
              src="../../../../../assets/img/onboarding-page/Content3.png"
              alt="asd"
            />
          </div>
          <div class="carousel-caption">
            <h3>10 seconds between slides...</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template> -->
      </ngb-carousel>
      <div class="onboard-footer">
        <div class="skip-button">SKIP</div>
        <div class="next-button">NEXT</div>
      </div>
    </div>
  </div>
</body>
