<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="title"></div>
    <div class="onboard">
      <mat-card class="card"> Statement </mat-card>
      <div class="onboard-footer">
        <div class="skip-button">SKIP</div>
        <mat-progress-bar class="progress-bar"></mat-progress-bar>
        <div class="next-button">NEXT</div>
      </div>
    </div>
  </body>
</html>
