body {
  background-image: url("../../../../../assets/img/loading-page/BackgroundLoading.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  #logo {
    grid-column: 6/8;
    grid-row: 5/7;
    background-image: url("../../../../../assets/img/loading-page/Logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  #loading {
    grid-column: 6/8;
    grid-row: 7;
    margin: auto;
  }
}

/* tablet styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

  #logo {
    grid-column: 5/9;
    grid-row: 5/7;
    background-image: url("../../../../../assets/img/loading-page/Logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  #loading {
    grid-column: 6/8;
    grid-row: 7;
    margin: auto;
  }
}

/* phone styles */
#logo {
  grid-column: 5/9;
  grid-row: 5/7;
  background-image: url("../../../../../assets/img/loading-page/Logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#loading {
  grid-column: 6/8;
  grid-row: 7;
  margin: auto;
}
