<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="content" class="grid">
      <div class="nav">
        <img
          class="back"
          src="../../../../../assets/img/welcome-page/Goback.svg"
          alt=""
        />
      </div>
      <div class="logo"></div>
      <mat-card class="card">
        <ng-content> </ng-content>
      </mat-card>
    </div>
  </body>
</html>
