.avatar {
  width: 6.4vw;
  height: 6.4vw;
  margin: auto;
  background-color: rgb(202, 234, 255);
  /* overflow: hidden; */
  background-image: url("../../../../../assets/img/welcome-page/will.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  margin-top: 1.6vw;
  margin-bottom: 0.8vw;
}

h1 {
  color: rgb(100, 100, 100);
  font-size: 2.4vw;
  margin-bottom: 0.8vw;
}

p {
  color: rgb(131, 131, 131);
  font-weight: 50;
  font-size: 1.12vw;
  margin: 0;
}

.signup-form {
  width: 100%;
}

.form-field {
  width: 70%;
  margin: 0;
  font-size: 0.8vw;
}

.signup-button {
  background-color: rgb(162, 49, 255);
  margin-top: 2.4vw;
  font-size: 1.12vw;
  color: white;
  padding: 2.4%;
  border-radius: 100px;
  margin-right: 4%;
  margin-left: 4%;
}

.addition {
  margin-top: 12.8%;
  color: rgb(131, 131, 131);
  font-weight: 100;
  font-size: 1.12vw;
}

.addition a {
  color: rgb(0, 183, 255);
}
