<app-auth-template>
  <div class="flex">
    <div class="avatar"></div>
    <div class="text">
      <h1>SIGNUP</h1>
    </div>
    <form class="signup-form">
      <mat-form-field class="form-field">
        <mat-label> Name </mat-label>
        <input matInput placeholder="Name" />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label> Email </mat-label>
        <input matInput placeholder="Email" />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label> Password </mat-label>
        <input matInput placeholder="Password" />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label> Confirm password </mat-label>
        <input matInput placeholder="Confirm password" />
      </mat-form-field>
    </form>
    <div class="signup-button">Create account</div>
    <div class="addition">Already onboard? <a>Login</a></div>
  </div>
</app-auth-template>
