html,
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.62%;
  grid-auto-rows: minmax(100px, auto);
  max-width: 81.25%;
  margin: 0 auto;
}
